<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nsy209.cnam.seldesave">

    <uses-sdk android:minSdkVersion="23" />

    <!-- permissions -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- NFC is not obligatory to run the app-->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- activities -->
        <activity android:name=".activity.home.CheckDatasActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.home.HomeActivity"/>
        <activity android:name=".activity.home.AuthenticationActivity" />
        <activity android:name=".activity.profile.ProfileActivity" />
        <activity android:name=".activity.suppliesdemand.SuppliesActivity" />
        <activity android:name=".activity.suppliesdemand.DemandsActivity" />
        <activity android:name=".activity.notifications.MyNotificationsActivity" />
        <activity android:name=".activity.payment.PaymentActivity" />
        <activity android:name=".activity.profile.ProfileEditActivity" />
        <activity android:name=".activity.profile.ProfileWealthsheetActivity" />
        <activity android:name=".activity.helper.ConfirmActivity" />
        <activity android:name=".activity.helper.EditFieldActivity" />
        <activity android:name=".activity.mysuppliesdemands.MySupplyDemandActivity" />
        <activity android:name=".activity.mysuppliesdemands.MySupplyDemandEditActivity" />
        <activity android:name=".activity.mysuppliesdemands.MySupplyDemandCardActivity" />
        <activity android:name=".activity.suppliesdemand.SupplyDemandCardActivity" />
        <activity android:name=".activity.geolocation.AMemberDisplayActivity" />
        <activity android:name=".activity.geolocation.MembersDisplayActivity" />
        <activity android:name=".activity.filter.FilterActivity" />
        <activity android:name=".activity.filter.FilterMemberActivity" />
        <activity android:name=".activity.filter.FilterCategoryActivity" />
        <activity android:name=".activity.payment.PaymentByNFCActivity">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.payment.PaymentAmountActivity" />
        <activity android:name=".activity.payment.PaymentMemberActivity" />
        <activity android:name=".activity.payment.PaymentSupplyDemandActivity" />

        <activity
            android:name=".activity.geolocation.GeolocationMemberActivity"
            android:label="@string/title_activity_geolocation_member"></activity>

        <activity
            android:name=".activity.geolocation.GeolocationMembersActivity"
            android:label="@string/title_activity_geolocation_members" />

        <!-- services -->
        <service
            android:name=".background.intentService.CheckRemoteDataBaseIntentService"
            android:exported="false" />
        <service
            android:name=".background.jobService.ScheduleCheckingJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".activity.profile.MyTransactionsActivity" />

        <service
            android:name=".background.intentService.RemoteUpdateMyProfileIntentService"
            android:exported="false" />
        <service
            android:name=".background.intentService.RemoteAddMySupplyDemandIntentService"
            android:exported="false" />
        <service
            android:name=".background.intentService.RemoteUpdateMySupplyDemandIntentService"
            android:exported="false" />
        <service
            android:name=".background.intentService.RemoteDeleteMySupplyDemandIntentService"
            android:exported="false" />
        <service
            android:name=".background.intentService.RemoteAddTransactionIntentService"
            android:exported="false" />
        <service
            android:name=".background.intentService.RemoteDeleteNotificationIntentService"
            android:exported="false" />
        <service
            android:name=".background.intentService.CheckRemoteDataBaseIntentService"
            android:exported="false" />
        <service
            android:name=".background.intentService.UpdateAssociationIntentService"
            android:exported="false" />
        <service
            android:name=".background.intentService.UpdateCategoryIntentService"
            android:exported="false" />
        <service
            android:name=".background.intentService.UpdateMemberIntentService"
            android:exported="false" />
        <service
            android:name=".background.intentService.UpdateSupplyDemandIntentService"
            android:exported="false" />
        <service
            android:name=".background.intentService.UpdateWealthSheetIntentService"
            android:exported="false" />
        <service
            android:name=".background.intentService.UpdateNotificationIntentService"
            android:exported="false" />
        <service
            android:name=".background.intentService.RemoteUpdateDateIntentService"
            android:exported="false" />
        <service
            android:name=".background.intentService.GeocodeAddressIntentService"
            android:exported="false" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>